/*
dark green -#356211
green - #558303
light green- #6C8F32
yellow- #F2E880
Maroon- #C15C37
Dark Maroon- #AA471F
*/



.logo {
    height: 25px;
}
  
nav {
  background: #558303;
}

html, body, container {
    background: #F2E880 !important;
}



.btn-outline-primary {
    color: #356211 !important;
    border: 1px solid #356211 !important;
}

.btn-outline-primary:hover {
    background: #6C8F32 !important;
}

.btn-primary {
    background: #AA471F !important;
    border: 1px solid black !important;
}
  
.btn-primary:hover {
    background: #6C8F32 !important;
}

.dark-maroon {
  color: #AA471F
}

.dark-green {
  color: #356211;
}

.images:hover {
  cursor: pointer
}

