/*
dark green -#356211
green - #558303
light green- #6C8F32
yellow- #F2E880
Maroon- #C15C37
Dark Maroon- #AA471F
*/

.logo {
    height: 25px;
}
  
html, body, nav {
    background: #F2E880;
}


p {
    color: white;
}

.btn-outline-primary {
    color: #356211 !important;
    border: 1px solid #356211 !important;
}

.btn-outline-primary:hover {
    background: #6C8F32 !important;
}

.btn-primary {
    background: #6C8F32 !important;
}
  
.btn-primary:hover {
    background: #AA471F !important;
}