<!DOCTYPE html>
<html>
<head>
    <title>Create Account</title>
</head>
<body>
    <h3> Create Account: </h3>

    <form action="/register" method="POST">
        <h4>
            Username:
        </h4> 
        <input type="text" name="username" value="enter a username"> <br>
        
        <h4>
            Password:
        </h4>
        <input type="text" name="password" value="enter a password"> <br>
        <input type="submit" name="sub1">
    </form>

    <br>
    <a href="/">Home</a>
    <a href="/">Login</a>
</body>

</html>