<!DOCTYPE html>
<html>
  <head>
    <title>
    Homepage
  </title>
  </head>
  
  <body>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    {% include 'navbar.html' %}
    
    <main>
      <div class="container pt-2">
        <h1>
          Welcome, User
        </h1>
      
        
        <!--MAKE VALUES REFLECT URL-->
          <select name="place" id="place">
            <option value={{loc}}>{{loc}}</option>
            <option value="Houston">Houston</option>
            <option value="New York">New York</option>
          </select>
          
          <select name="convention" id="convention">
            <option value="{{avo_type}}">{{avo_type}}</option>
            <option value="organic">organic</option>
            <option value="conventional">non-organic</option>
          </select>
        
        <div class="container" id="main-chart">
           
        </div>
        <div class="container d-flex" id="secondary-charts">
          <div class="w-50" id="volume-chart">
          
          </div>
          <div class="w-50" id="bags-chart">
          
          </div>
          
        </div>
        
      </div>

      <div style="display: none;" id="avoPrice">{{avoPrice}}</div>
      <div style="display: none;" id="location">{{loc}}</div>
      <div style="display: none;" id="avoType">{{avo_type}}</div>
      <div style="display: none;" id="avoVolume">{{avoVolume}}</div>
      
    </main>

    
    
    <script src="../static/js/home.js"></script>
  </body>
</html>