<!DOCTYPE html>
<html>
  <head>
    <title>
    Homepage
  </title>
  </head>
  
  <body>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    {% include 'navbar.html' %}
    
    <main>
      <div class="container pt-2">
        <h1>
          Welcome, User
        </h1>
        
        <select name="place" id="place">
          <option value="Houston">Houston</option>
          <option value="New York">New York</option>
        </select>
        
        <select name="convention" id="convention">
          <option value="Organic">Organic</option>
          <option value="Non-organic">Non-organic</option>
        </select>
        
        <h2>
          
        </h2>
        <div class="container" id="main-chart">
           
        </div>
        <div class="container d-flex" id="secondary-charts">
          <div class="w-50" id="volume-chart">
          
          </div>
          <div class="w-50" id="bags-chart">
          
          </div>
          
        </div>
        
      </div>
      
    </main>
    
    <script src="../static/js/home.js"></script>
  </body>
</html>