{% include 'navbar.html' %}

<main>
    <div class="container mt-5">

        <h1>
            YOU LOST!!!
        </h1>
    
        <div>
            You got a score of {{score}}
        </div>

        <div>
            Your highscore: {{highscore}}
        </div>

        <br>
        
        <a href="/higher-Lower">Play again</a>
        <br>
        <a href="/home">Go home</a>

        <img src="https://emojis.wiki/thumbs/emojis/loudly-crying-face.webp" class="mt-5 w-100"/>
    </div>

</main>