{% include 'navbar.html' %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<body onload='drawChart({{stock|tojson}},{{stock_data}},{{avocado_data}})'>
<main>
  <div class="container pt-4">
    <div class="d-flex mb-4">
      <img src={{logo}} width="32px" height="32px" class="my-auto"/>
      <h1 class=""> {{stock}}
      </h1>
    </div>

    <h5>
    {{stock}} is {{s_change}} {{stock_change}}% from 12/01/19 to 11/29/20
    </h5>
    
    <h5>
      Avocados are {{a_change}} {{avo_change}}% in the same timeframe
    </h5>
    
    <div id="curve_chart" class="compare-graph mt-5">
    
    </div>
  </div>
  
</main>
</body>

<script src="../static/js/search.js"></script>
